.blog-container{
  .blog-cover{
    background-image: url(../../../../public/imgs/coverBlog.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .details{
      position: absolute;
      left: 18%;
      top: 70%;
      transform: translate(-18%, -70%);
      
      @media (max-width: 768px) {
        left: 50%;
        transform: translate(-50%, -70%);
      }
      h2{
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .link{
        font-size: 17px;
        a{
          color: #221638;
          font-weight: 600;
          text-decoration: none;
          transition: all .6s;

          &:hover{
            color: #ff5d22;
          }
        }
        .i{
          color: #ff5d22;
          margin: 0 10px;
          font-size: 14px;
        }
        span{
          font-weight: 600;
          color: #221638;
        }
      }
    }
  }
  .blog-content{
    padding-top: 100px;
    padding-bottom: 50px;

    .row{
      .title{
        text-align: center;
        margin-bottom: 50px;

        h2{
          font-size: 44px;
          font-weight: 700;
          color: #221638;
          @media (max-width: 768px) {
            width: 100%;
          }
          @media (max-width: 450px) {
            font-size: 20px;
          }
        }
        p{
          font-size: 18px;
          font-weight: 500;
          color: #6b6b84;
          line-height: 1.5;
          width: 600px;
          margin: 12px auto;
          @media (max-width: 1024px) {
            width: 500px;
          }
          @media (max-width: 768px) {
            width: 100%;
            font-weight: 400;
          }
          @media (max-width: 500px) {
            font-size: 18px;
          }
          @media (max-width: 450px) {
            font-size: 10px;
          }
        }
      }
      .item {
        border-radius: 5px;
        background-color: #fffbf5;
        width: 100%;
        transition: all .6s;
        margin-bottom: 25px;
        &:hover{
          margin-top: -10px;
          box-shadow: 15px 15px 15px rgba(0,0,0,.09)
        }
        
        img{
          width: 100%;
          cursor: pointer;
        }
        .item-details{
          padding: 25px;
          .img{
            display: inline-block;
            width: 50%;
            color: #6b6b84;
            @media (max-width: 1120px) {
              width: 100%;
            }
            @media (max-width: 991px) {
              width: 50%;
            }
            @media (max-width: 367px) {
              width: 100%;
            }

            img{
              margin-right: 10px;
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
            span{
              font-size: 15px;
              font-weight: 500;
            }
          }
          .history{
            text-align: right;
            display: inline-block;
            width: 50%;
            color: #6b6b84;
            
            @media (max-width: 1120px) {
              width: 100%;
            }
            @media (max-width: 991px) {
              width: 50%;
            }
            @media (max-width: 367px) {
              width: 100%;
            }
            
            .i{
              margin-right: 10px;
              color: #ff5d22;
            }
          }
          
          h3{
            margin-top: 20px;
            font-size: 24px;
            line-height: 1.3;
            transition: all .6s;
            cursor: pointer;

            @media (max-width: 450px) {
              font-size: 15px;
            }
            
            &:hover {
              color: #ff5d22
            }
          }
        }
      }
      .page-number{
        margin: 25px 0;
        text-align: center;
        span{
          display: inline-block;
          margin: 0 5px;
          width: 45px;
          height: 45px;
          line-height: 45px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, .09);
          transition: all .6s;
          font-size: 17px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #ff5d22;
            color: #fff;
          }
          @media (max-width: 371px) {
            width: 30px;
            height: 30px;
            line-height: 30px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .09);
            font-size: 12px;
          }
          @media (max-width: 281px) {
            width: 19px;
            height: 19px;
            line-height: 19px;
          }
        }
        .active, .page-number span:hover {
          background-color: #ff5d22;
          color: #fff;
      }
      }
    }
  }
}