.case-studies{
    .case-cover{
      background-image: url(../../../../public/imgs/coverBlog.jpg);
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      .details{
        position: absolute;
        left: 18%;
        top: 70%;
        transform: translate(-18%, -70%);
        
        @media (max-width: 768px) {
          left: 50%;
          transform: translate(-50%, -70%);
        }
        h2{
          font-size: 2.8rem;
          font-weight: 700;
          margin-bottom: 20px;
          @media (max-width: 700px) {
            font-size: 2.5rem;
          }
          @media (max-width: 330px) {
            font-size: 1.5rem;
          }
        }
        .link{
          font-size: 17px;
          a{
            color: #221638;
            font-weight: 600;
            text-decoration: none;
            transition: all .6s;
  
            &:hover{
              color: #ff5d22;
            }
          }
          .i{
            color: #ff5d22;
            margin: 0 10px;
            font-size: 14px;
          }
          span{
            font-weight: 600;
            color: #221638;
          }
        }
      }
    }
    .case-studies-container{
      padding: 100px 0;
      .mb{
        margin-bottom: 30px;
        .item-cover{
          position: relative;
          overflow: hidden;
          img{
            width: 100%;
            border-radius: 5px 5px 0 0;
            transition: all .6s;
          }
          .color{
            position: absolute;
            left: 10px;
            top: 10px;
            width: 96%;
            height: 95%;
            background-color: #ff5d22;
            border-radius: 5px;
            z-index: 1;
            opacity: 0;
            transition: all .4s;
            .i{
              font-size: 40px;
              color: #fff;
              position: absolute;
              left: 55%;
              top: 55%;
              transition: all .6s;
              transform: translate(-50px, -50px);
              cursor: pointer;
              opacity: 1!important;
              &:hover{
                color: #000;
              }
            }
          }
          &:hover .color{
            opacity: .7;
          }
          &:hover img{
            transform: scale(1.1);
          }
        }
        .item-details{
          padding: 25px 0;
          background-color: #fafafb;
          text-align: center;
          h3{
            color: #221638;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 8px;
            cursor: pointer;
            transition: all .6s;
            &:hover{
              color: #ff5d22;
            }
          }
          p{
            color: #ff5d22;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
}