.course-container{
  padding: 100px 0;
  background-color: #fafafb;
  .course-cover{
    background-image: url(../../../../public/imgs/coverBlog.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .details{
      position: absolute;
      left: 18%;
      top: 70%;
      transform: translate(-18%, -70%);
      
      @media (max-width: 768px) {
        left: 50%;
        transform: translate(-50%, -70%);
      }
      h2{
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .link{
        font-size: 17px;
        a{
          color: #221638;
          font-weight: 600;
          text-decoration: none;
          transition: all .6s;

          &:hover{
            color: #ff5d22;
          }
        }
        .i{
          color: #ff5d22;
          margin: 0 10px;
          font-size: 14px;
        }
        span{
          font-weight: 600;
          color: #221638;
        }
      }
    }
  }
  .course-content{
    padding-top: 100px;
    padding-bottom: 50px;

    .row{
      .title{
        text-align: center;
        margin-bottom: 50px;

        h2{
          font-size: 44px;
          font-weight: 700;
          color: #221638;
          @media (max-width: 768px) {
            width: 100%;
          }
          @media (max-width: 450px) {
            font-size: 20px;
          }
        }
        p{
          font-size: 18px;
          font-weight: 500;
          color: #6b6b84;
          line-height: 1.5;
          width: 600px;
          margin: 12px auto;
          @media (max-width: 1024px) {
            width: 500px;
          }
          @media (max-width: 768px) {
            width: 100%;
            font-weight: 400;
          }
          @media (max-width: 500px) {
            font-size: 18px;
          }
          @media (max-width: 450px) {
            font-size: 10px;
          }
        }
      }
      .item {
        margin-bottom: 30px;
        width: 100%;
        
        .item-img{
          position: relative;
        img{
          width: 100%;
          cursor: pointer;
          border-radius: 0 0 5px 5px;
        }
        span{
          position: absolute;
          right: 20px;
          bottom: -30px;
          color: #fff;
          width: 65px;
          height: 65px;
          line-height: 65px;
          border-radius: 50%;
          text-align: center;
          font-size: 22px;
          font-weight: 700;
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        }
        .free{
          background-color: green;
          z-index: 10;
        }
        .price{
          background-color: #ff5d22;
          z-index: 10;
        }
        }
        .item-details{
          padding: 30px;
          border-radius: 0 0 5px 5px;
          background-color: #fff;
          .item-user{
            margin-bottom: 15px;
              img{
                width: 50px;
                border-radius: 50%;
                margin-right: 10px;
              }
              p{
                display: inline-block;
                color: #ff5d22;
                font-size: 17px;
                font-weight: 600;
                margin: 10px;
              }
          }
          h3{
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 12px;
            cursor: pointer;
            color: #221638;
            transition: all .5s;
            &:hover{
              color: #ff5d22;
            }
            @media (max-width: 500px) {
              font-size: 17px;
            }
          }
          p{
            color: #6b6b84;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.8;
            margin-bottom: 15px;
          }
          ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            li{
              flex: .45 1;
              color: #6b6b84;
              font-size: 15px;
              @media (max-width: 500px) {
                font-size: 10px;
              }
              .i{
                margin-right: 5px;
                color: #ff5d22;
              }
            }
          }
        }
      }
      .page-number{
        margin: 25px 0;
        text-align: center;
        span{
          display: inline-block;
          margin: 0 5px;
          width: 45px;
          height: 45px;
          line-height: 45px;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, .09);
          transition: all .6s;
          font-size: 17px;
          font-weight: 700;
          cursor: pointer;
          &:hover {
            background-color: #ff5d22;
            color: #fff;
          }
          @media (max-width: 371px) {
            width: 30px;
            height: 30px;
            line-height: 30px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .09);
            font-size: 12px;
          }
          @media (max-width: 281px) {
            width: 19px;
            height: 19px;
            line-height: 19px;
          }
        }
        .active, .page-number span:hover {
          background-color: #ff5d22;
          color: #fff;
      }
      }
    }
  }
}